<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TestAutoNarrative</display-name>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <filter>
    <filter-name>TimeOutFilter</filter-name>
    <filter-class>com.test.TimeOutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TimeOutFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <!-- <servlet-name>com.test.LoginServlet,com.test.LandingServlet</servlet-name> -->
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>